.wrap{
  display: block;
  margin: 20px 35%; 
  
 } 
.footer{
  margin: 20px 47%;
}
h1{
  display: inline;
}
h5{
  display: inline;
}

.rounded{
  width: 30rem;
}

*{ font-family: 'Nanum Pen Script', cursive;
  font-size: 1em;}
